.card {
  padding: 24px;
  border-radius: 16px;
  background-color: white;
}

.icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--dark-blue);
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  margin-top: 24px;
  font-size: 1.25rem;
}

.description {
  margin-top: 12px;
  color: var(--medium-grey);
}

.stars {
  display: flex;
  flex-direction: row;
}

.stars__item {
  width: fit-content;
}
