.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 775px;
  padding: 64px;
  border-radius: 16px;
  gap: 32px;
  background-color: var(--color-white);
}

.card__title {
  max-width: 460px;
  font-family: var(--font-heading);
  font-size: 24px;
  line-height: 30px;
}

.card__description {
  max-width: 650px;
  font-family: var(--font-body);
  font-size: 18px;
  line-height: 27px;
}
